@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.containerVisor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin:5px;
}

.title{
    text-align: center;
    display: flex;
    align-items: center;
}

.containerOptions{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.menu{
    display: flex;
    gap:5px;
}