@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  background-color: Canvas;
  color: TextCanvas;
  
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 120px;
}